.address-card {
    border: 1px gray solid;
    padding: 5px;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.designation {
    font-style: italic;
}

.address {
    font-size: 15px;
}